DB_HOSTNAME=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=lion3star
POWERBALL_BASE_URL=http://powerball.com:82/
POWERBALL_DB_HOSTNAME=localhost
POWERBALL_DB_USERNAME=root
POWERBALL_DB_PASSWORD=
POWERBALL_DB_DATABASE=powerball
